data/*
models/*
outputs/*
test/*
__pycache__
.coverage
.mypy_cache
.pytest_cache
.ruff_cache
.venv
*.env
*.npy
*.wav
*.png
wandb
!data/README.md
!models/README.md
!outputs/README.md
!environments/ci/.env
!environments/cpu/.env
!environments/gpu/.env
environments/dev
outputs/*