tensorflow-io-gcs-filesystem==0.26.0
tensorflow-datasets==4.9.0
tensorflow==2.10.0
tensorflow-probability==0.17.0

numpy==1.23.2
matplotlib==3.7.5
librosa==0.10.0

ddsp==3.7.0

hydra-core
wandb
torchviz

scikit-learn
tqdm
seaborn
pytorch-metric-learning
tensorboard-plugin-profile